* {    background: #fdde7e;
margin: 0;
padding: 0;}




.main {width: 1200px;
    height: 600px;
    display: flex;
    
    justify-content: space-between;
    margin: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.box {
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
    width: 360px;
    height: 442px;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction:column;

}

h1,h2 {background: white;}

.box:nth-child(2) {
    height: 503px;
    display: flex;
    align-items: center;
    justify-content:center;
}

img {background: white;}

